<div class="container-fluid">
    <h3>Follow our social media accounts to get latest updates</h3>
    <div class="icons">
        <a href="https://www.facebook.com/saicherry.Ramcharan/"><img [src]="'assets/facebook.png'" alt="" srcset="" width="150px" height="auto"></a>
        <a href="https://www.instagram.com/always_saicherry/?hl=en"><img [src]="'assets/instagram.jpg'" alt="" srcset=""  width="100px" height="auto"></a>
        <a href="https://twitter.com/alwayssaicherry"><img [src]="'assets/twitter.png'" alt="" srcset=""  width="140px" height="auto"></a>
    </div>
</div>
