<div class="container-fluid bg-dark">
   <div class="row d-flex justify-content-around">
    <div class="card col-lg-3 bg-dark" >
        <img [src]="'assets/eesha.jpg'" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Eesha</h5>
          <p class="card-text">Adhi winter season baga chali peduthundhi fan off chesi duppati full ga kappsei padukunna, aina nidra lo chaliki.......</p>
          <a  class="btn btn-danger" href="https://drive.google.com/drive/folders/12zF4sfWPCgSTcxO3_pe2uIkC1ulgN56-?usp=sharing" target ="_blank">Click here to read</a>
        </div>
      </div>
      <div class="card col-lg-3 bg-dark" >
        <img [src]="'assets/nightmare.jpg'" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Nightmare</h5>
          <p class="card-text">Adhi march modi garu curfew pettina mundhu roju, happy gaweekend family tho njoy chesi malli normall ga monday......</p>
          <a  class="btn btn-danger" href="https://drive.google.com/drive/folders/1UtvdkMVURQb7cLFcEyukPX6YyS49YgAg?usp=sharing" target ="_blank">Click here to read</a>
        </div>
      </div>
      <!-- <div class="card col-lg-3 bg-dark" >
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a  class="btn btn-danger" href="" target ="_blank">Click here to read</a>
        </div>
      </div>
      
   </div> -->
   <!-- <div class="row d-flex justify-content-around">
    <div class="card col-lg-3 bg-dark" >
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          button
        </div>
      </div>
      <div class="card col-lg-3 bg-dark" >
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          button
        </div>
      </div>
      <div class="card col-lg-3 bg-dark" >
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          button
        </div>
      </div>
      
   </div> -->
</div>