<div class="container-fluid">
    <div class="wrapper row d-flex justify-content-around">
        <div class="col-lg-5 align-self-center">
            <h1>Donate something</h1>
            <p class="p-1">we are collecting funds through this website inorder to feed a need, Specially collecting for old age people who don't have proper food and living in road side</p>
        </div>
        <div class="col-lg-5">
            <img [src]="'assets/qr2.jpeg'" alt="QR Code" srcset="" class="qr-code">
        </div>
    </div>
    
</div>